In [ ]:
# list[]
# tulpe() (immutable)
# set{} unordered an no duplicates
# dictionary{'..':'..'}

In [14]:
# LISTS

courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses[0])
print(len(courses))
#slicing --> reverse and skipping video
print(courses[-1])
print(courses[0:2])
print(courses[:2])
print(courses[2:-1])

History
4
CompSci
['History', 'Math']
['History', 'Math']
['Physics']

In [18]:
courses.append('Art')
courses.insert(0, 'Biology')
#insert and append will multiply values if run multiple times seperately
courses_2 = ['Art', 'Education']
courses.insert(0, courses_2)


print(courses)
print(courses[0])

[['Art', 'Education'], 'Biology', ['Art', 'Education'], 'Biology', 'History', 'Math', 'Physics', 'CompSci', 'Art', 'Art']
['Art', 'Education']

In [19]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']

courses.extend(courses_2)

print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

In [ ]:
# append and insert will add the list values in one list [], so if you have more then 1 value it will be added as [value1, value2] instead of [value1],[value2]
# use extend for this

In [22]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']

courses.extend(courses_2)
print(courses)
#removing specific value
courses.remove('Math')
# removing last value of list
courses.pop()

popped = courses.pop()
print(popped)

print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']
Art
['History', 'Physics', 'CompSci']

In [26]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [9,3,6,4,3,1]

courses.reverse()
# last item first, reversed list

courses.sort()
# sorted in alphabetic order or number
nums.sort()
# sort in descending way
courses.sort(reverse=True)
nums.sort(reverse=True)

#these functions will sort the list courses

print(courses)
print(nums)

['Physics', 'Math', 'History', 'CompSci']
[9, 6, 4, 3, 3, 1]

In [28]:
# to leave the original list alone and sort seperately

courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [9,3,6,4,3,1]

sorted_courses = sorted(courses)

print(courses)
#courses is still not sorted, because the original list is not changed
print(sorted_courses)

['History', 'Math', 'Physics', 'CompSci']
['CompSci', 'History', 'Math', 'Physics']

In [31]:
nums = [9,3,6,4,3,1]

min
max
sum

print(min(nums))
# prints the minimal number
print(max(nums))
# prints the maximal number
print(sum(nums))
# prints the sum of numbers

1
9
26

In [34]:
#finding index of values

courses = ['History', 'Math', 'Physics', 'CompSci']

print(courses.index('CompSci'))

#get true or false back, instead of error

print('Art' in courses)
print('Math' in courses)

3
False
True

In [35]:
courses = ['History', 'Math', 'Physics', 'CompSci']

for item in courses:
    print(item)

History
Math
Physics
CompSci

In [38]:
courses = ['History', 'Math', 'Physics', 'CompSci']

for index, course in enumerate(courses):
    print(index, course)

0 History
1 Math
2 Physics
3 CompSci

In [39]:
courses = ['History', 'Math', 'Physics', 'CompSci']

for index, course in enumerate(courses, start=1):
    print(index, course)

1 History
2 Math
3 Physics
4 CompSci

In [43]:
courses = ['History', 'Math', 'Physics', 'CompSci']

course_string = ', '.join(courses)

new_list = course_string.split(', ')

print(course_string)
print(new_list)

History, Math, Physics, CompSci
['History', 'Math', 'Physics', 'CompSci']

In [45]:
#cannot modify tulpes (immutable)
# lists are mutable (modifying is possible)

list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)


list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [57]:
#TUPLES

tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = list_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art' # gives error because tulpes are immutable

print(tuple_1)
print(tuple_2)

#

('History', 'Math', 'Physics', 'CompSci')
['Art', 'Math', 'Physics', 'CompSci']

TypeError: 'tuple' object does not support item assignment

In [53]:
# sets are unordered (random) and contain no duplicates
# membership test

cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'}

print(cs_courses)

print('Math' in cs_courses)

{'Math', 'CompSci', 'Physics', 'History'}
True

In [56]:
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}
art_courses = {'History', 'Math', 'Art', 'Design'}


print(cs_courses.intersection(art_courses))
print(cs_courses.difference(art_courses))
print(cs_courses.union(art_courses))

{'Math', 'History'}
{'Physics', 'CompSci'}
{'Math', 'CompSci', 'Design', 'Physics', 'Art', 'History'}

In [ ]:
# create empty lists, tuples and sets

empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

empty_set = {}  #This isnt right! It's a dictionary
empty_set = set()

In [3]:
# DICTIONARIES

# Start dictionary by:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
# this dictionary contains a string, a number, and a list --> can be any unmutable data type
# you can also have a number as key --> so change 'name' into 1 --> {1: 'John', ...} and print(student[1]) --> will return John

print(student)
print(student['name'])
print(student['courses'])

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
John
['Math', 'CompSci']

In [6]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

print(student)
print(student['name'])
print(student['courses'])
#print(student['phone']) # get error code KeyError: 'phone'
# to prevent error code, use get() method --> will return None
print(student.get('name'))
print(student.get('phone'))
# .get(value, not found message) you can specify a message displayed when the value is not found
print(student.get('phone', 'Not Found'))

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
John
['Math', 'CompSci']
John
None
Not Found

In [12]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

# to modify a dictionary do this:
student['phone'] = '555-5555'
student['name'] = 'Jane'
print(student)

#update multiple values in one time
student.update({'name': 'Mary', 'age': 26, 'phone':111-111})

print(student)

{'name': 'Jane', 'age': 25, 'courses': ['Math', 'CompSci'], 'phone': '555-5555'}
{'name': 'Mary', 'age': 26, 'courses': ['Math', 'CompSci'], 'phone': 0}

In [14]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

print(student)


#delete specific key and its value

del student['age']

print(student)

# option 2 to delete specific key and its value and show the deleted value

pop = student.pop('courses')
print(student)
print(pop)

{'name': 'John', 'courses': ['Math', 'CompSci']}
{'name': 'John'}
['Math', 'CompSci']

In [18]:
#loop through all the keys and values of the dictionary

student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

#how many keys in dict
print(len(student))

#print all keyw
print(student.keys())

# print all values
print(student.values())

# print keys and values
print(student.items())

3
dict_keys(['name', 'age', 'courses'])
dict_values(['John', 25, ['Math', 'CompSci']])
dict_items([('name', 'John'), ('age', 25), ('courses', ['Math', 'CompSci'])])

In [21]:
#loop through all the keys and values of the dictionary, 
# not same was as lists --> then only keys will be looped through

student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

# same method as lists looop --> prints only keys
for key in student:
    print(key)
    
# we want to see keys and values --> use .items()
for key, value in student.items():
    print(key, value)

name
age
courses
name John
age 25
courses ['Math', 'CompSci']

In [24]:
# Conditionals, control which statements are executed, booleans

if True:
    print('Conditional was True')
    
if False:
    print('Conditional was True')
    # --> is not printed anything

language = 'Python'

if language == 'Python': # == because equality testing
    print('Condition is True')

Conditional was True
Condition is True

In [27]:
# Comparisons:
# Equal:==
# Not Equal: !=
# Greater than: >
#...
# Object Identity (if objects are the same identity, are the same objects in memory): is

# If statements

language = 'Python'

if language == 'Python':
    print('Language is Python')
elif language == 'Java':
    print('Language is Jave')
else:
    print('No match')

Language is Python

In [30]:
# and
# or
# not

user = 'Admin'
logged_in = False

if user == 'Admin' and logged_in:
    print('Admin Page')
else:
    print('Bad Creds')
    

if user == 'Admin' or logged_in:
    print('Admin Page')
else:
    print('Bad Creds')
    

if not logged_in:
    print('Please log in')
else:
    print('Welcome')

Bad Creds
Admin Page
Please log in

In [35]:
# is vs ==

a = [1, 2, 3]
b = [1, 2, 3]

print(a==b)
print(a is b)

# Are two different objects in id

print(id(a))
print(id(b))


a = [1, 2, 3]
b = a

print(id(a))
print(id(b))
#now same objects in memory
print(id(a) == id(b))
# so a is b can be translated as id(a) == id(b)

True
False
3056608133312
3056608135360
3056608113536
3056608113536
True

In [36]:
# False Values
# False
# None
# Zero of any numeric type
# Any empty sequence. For example, '', (), [].
# Any empty mapping. For example, {}

# All return False in an if condition
condition = {}
if condition:
    print('True')
else:
    print('False')

False

In [42]:
# loops and iterations
#list of numbers

nums = [1,2,3,4,5]

# loop through the list
for num in nums:
    print(num)

# break and continue statement
# break: search for value and stop when found
for num in nums:
    if num == 3:
        print('Found!')
        break
    print(num)

# to print also the final number put print before 
for num in nums:
    print(num)
    if num == 3:
        print('Found!')
        break
    
    
# continue: go to next iteration in loop
for num in nums:
    if num == 3:
        print('Found!')
        continue
    print(num)

1
2
3
4
5
1
2
Found!
1
2
3
Found!
1
2
Found!
4
5

In [46]:
# loop within loop
nums = [1,2,3,4,5]

#every combination of numbers with letters
for num in nums:
    for letter in 'abc':
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [49]:
#function range
# run through a loop 10 times

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [51]:
# while loops
# keep going untill certain condition / break is hit

x = 0

while x < 10:
    print(x)
    x += 1

# always put in condition that ends, else endless loop

0
1
2
3
4
5
6
7
8
9

In [53]:
# break before by break statement
x=0

while x < 10:
    if x == 5:
        break
    print(x)
    x += 1

0
1
2
3
4

In [54]:
# infident loop untill input / find value
x=0

while True:
    if x == 5:
        break
    print(x)
    x += 1
    
# when you are stuck in an infident loop you can stop the loop by pressing ctrl + c

0
1
2
3
4

In [15]:
# functions
# machine that takes input and executes a result

def hello_func():
    return 'Hello Function.' 
    
print(hello_func().upper())

print(len('Test'))

HELLO FUNCTION.
4

In [17]:
def hello_func(greeting):
    return '{} function.'.format(greeting) 
    
print(hello_func('Hi'))

Hi function.

In [20]:
def hello_func(greeting, name = 'You'):
    return '{}, {}.'.format(greeting, name) 
    
print(hello_func('Hi', name = 'Sanne'))

# the function will take 'You' when no other name is given as input

Hi, Sanne.

In [22]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

# *args = tuple, **kwargs = dictionary
# * in front of list unpack values an pass them in individually
# ** before dictionary unpack values an pass them in individually

student_info('Math', 'Art', name='John', age=22)

('Math', 'Art')
{'name': 'John', 'age': 22}

In [26]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

courses = ['Math', 'Art']
info = {'name': 'John', 'age': 22}

student_info(courses, info)
student_info(*courses, **info)

# * values list unpacked
# ** dictionary values unpacked

(['Math', 'Art'], {'name': 'John', 'age': 22})
{}
('Math', 'Art')
{'name': 'John', 'age': 22}

In [27]:
# """" doc string, describes what def is calculating """"

In [ ]:
# Import modules 

# import my_module as mm
# from my_moduel import find_index, test
# from my_model import find_index as fi
# from my model import * --> not recommended

# this function puts in a list to search and a target to find
# create my_module.py in other file
# def find_index(to_search, target):
#     '''Find the index of a value in a sequence'''
#     for i, value in enumerate(to_search):
#         if value == target:
#             return i
#     return -1
# print('Imported my_module...')

# test = 'Test String'

In [34]:
import my_module as mm
#import entire module

courses = ['History', 'Math', 'Physics', 'CompSci']

# find_index() is find the index number of the value 'Math' in courses
# find_index(source, value to find)
index = mm.find_index(courses, 'Math')
print(index)

1

In [37]:
from my_module import find_index, test
#import only specific part(s) of module

courses = ['History', 'Math', 'Physics', 'CompSci']

index = find_index(courses, 'Math') # now the my_module./mm. can be removed because the def has been imported
print(index)
print(test)

1
Test String

In [39]:
from my_module import find_index, test 
# to see which modules you can import without defining a paht import sys and print sys.path
import sys

courses = ['History', 'Math', 'Physics', 'CompSci']

index = find_index(courses, 'Math') 
print(index)
print(test)
print(sys.path)

1
Test String
['C:\\Data_Reskilling\\Git folder test', 'C:\\Users\\x007876\\Anaconda3\\python38.zip', 'C:\\Users\\x007876\\Anaconda3\\DLLs', 'C:\\Users\\x007876\\Anaconda3\\lib', 'C:\\Users\\x007876\\Anaconda3', '', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\x007876\\.ipython']

In [40]:
# to import files outside the standard path directory
# add the extra path to the list of system paths above
import sys
sys.path.append('C:\\Data_Reskilling\\GIT Data_Reskilling')

print(sys.path)

['C:\\Data_Reskilling\\Git folder test', 'C:\\Users\\x007876\\Anaconda3\\python38.zip', 'C:\\Users\\x007876\\Anaconda3\\DLLs', 'C:\\Users\\x007876\\Anaconda3\\lib', 'C:\\Users\\x007876\\Anaconda3', '', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\x007876\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\x007876\\.ipython', 'C:\\Data_Reskilling\\GIT Data_Reskilling']

In [43]:
# standard libraby modules to use in python

import random

random_course = random.choice(courses)

print(random_course)

Physics

In [44]:
import math

rads = math.radians(90)

print(rads)

1.5707963267948966

In [47]:
import datetime
import calendar

today = datetime.date.today()
print(today)

print(calendar.isleap(2017))

2020-11-11
False

In [49]:
#print current working directory
import os

print(os.getcwd())
print(os.__file__)

C:\Data_Reskilling\Git folder test
C:\Users\x007876\Anaconda3\lib\os.py

In [52]:
import antigravity

print(os.__file__)

C:\Users\x007876\Anaconda3\lib\os.py

In [53]:
import matplotlib.pyplot as plt
plt.close('all')

In [55]:
# creating DataFrames
# use dict
# each (key, value) item in data corresponds to a column in the resulting DataFrame
# an index is created 0-3 but you can also create your own 

import pandas as pd

data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data)

purchases

# each (key, value) item in data corresponds to a column in the resulting DataFrame
# an index is created 0-3 but you can also create your own (see next)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [59]:
# create own index
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
#now you can locate a cutomers order by using their name
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [61]:
# Reading data from CSVs

df = pd.read_csv('purchases.csv')
df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [62]:
# CSVs don't have indexes like DataFrames --> need to designate index_col
# setting the index column to be column zero

df = pd.read_csv('purchases.csv', index_col=0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
# Reading data from JSON files
# JSON is essentially a stored Python dict

df = pd.read_json('name.json')
df

# Pandas will try to figure out how to create a DataFrame by analyzing structure of your JSON, 
# and sometimes it doesn't get it right. 
# Often you'll need to set the orient keyword argument depending on the structure

In [ ]:
# Reading data from a SQL database
# establisch connection using an appropriate Python libraby
# first need to install right pythonlibrary for making connections to the used SQL server
# make a connection to a database URI

import library (python libraby needed)
con = library.connect("database.db")

df = pd.read_sql_query("SELECT * FROM purchases", con)
df = df.set_index('index') #to remove the index column (or use index_col='index')

df

In [ ]:
# Converting back to a CSV, JSON, or SQL
df.to_csv('new_purchases.csv')
# creates new file
df.to_json('new_purchases.json')
# creates new file
df.to_sql('new_purchases', con)
# inserting a new table using the con variable from before